<html>
    <head>
        <title>Sketch-it</title>
        <base target="_top" />
    </head>
    <body>
        <div id="modal-error" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Error</p>
                    </header>
                    <section id="modal-error-content" class="modal-card-body"></section>
                </div>
            </div>
        </div>
        <div id="modal-set-user-name" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Set player name</p>
                    </header>
                    <section class="modal-card-body">
                        <div
                            id="set-user-name-error-notification"
                            class="notification is-danger"
                        ></div>
                        <form id="set-user-name-form">
                            <label for="user-name">Player name:</label><br />
                            <input
                                class="input"
                                type="text"
                                id="set-user-name"
                                name="set-user-name"
                                placeholder="Player name"
                                value=""
                            />
                        </form>
                    </section>
                    <footer class="modal-card-foot">
                        <button id="send-set-user-name-form" class="button is-success">Join</button>
                    </footer>
                </div>
            </div>
        </div>
        <br />
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="has-text-centered">
                    <button id="pencilBtn" class="button">Pencil</button>
                    <button id="highlighterBtn" class="button">Highlighter</button>
                    <button id="eraserBtn" class="button">Eraser</button>
                </div>
                <br />
                <div id="game-canvas" class="has-text-centered"></div>
                <br />
                <input
                    class="input"
                    id="guessInput"
                    name="guessInput"
                    placeholder="enter your guess..."
                />
                <button id="sendGuess" class="button is-pulled-left is-blue">Send Guess</button
                ><br />
                <button id="startGame" class="button is-pulled-left">Start Game!</button>
            </div>
            <div class="column">
                <div id="leaderboard-card" class="card" style="height: 100%">
                    <header class="card-header">
                        <p class="card-header-title">Leaderboard</p>
                    </header>
                    <div class="card-content">
                        <div id="leaderboard-card-content" class="content"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </body>
</html>
