<html>
    <head>
        <title>My Sketch</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
        <script src="js/dist/game.js"></script>
    </head>
    <body>
        <button class="button" onclick="setTool(0)">Pencil</button>
        <button class="button" onclick="setTool(1)">Highlighter</button>
        <button class="button" onclick="setTool(2)">Eraser</button>
        <div id="game-canvas">
        </div>
    </body>
</html>

