<html>
    <head>
        <title>Sketch-it</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
    </head>
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <p class="title is-size-1"> Rooms </p>
            </div>
        </section>
        <section class="section is-small">
        </section>
        <div class="container is-max-desktop">
            <div class="tile is-ancestor">
                <div class="tile is-parent"></div>
                <div class="tile is-parent">
                    <div class="tile is-child has-text-centered is-vertical">
                        <button class="button is-primary">Create Room</button>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child has-text-centered is-vertical">
                        <button class="button is-primary">Join Room</button>
                    </div>
                </div>
                <div class="tile is-parent"></div>
            </div>
            <div class="tile is-ancestor is-primary">
                <div class="tile is-parent is-2"></div>
                <div class="tile is-parent is-black">
                    <p class="has-text-centered">TEST</p>
                </div>
                <div class="tile is-parent is-2"></div>
            </div>
        </div>
    </body>
</html>



