/* Main styles file */
@charset "utf-8";

@import "./colors.scss";
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/grid/tiles.sass";
@import "../../../node_modules/bulma/sass/helpers/typography.sass";
@import "../../../node_modules/bulma/sass/form/shared.sass";
@import "../../../node_modules/bulma/sass/form/input-textarea.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/components/card.sass";
@import "../../../node_modules/bulma/sass/components/modal.sass";

/* main button style */
.main-control {
    margin-top: 100px;    
}

/* for debugging */
.has-borders {
    border-style: solid;
    border-width: 4px;
    border-color: $red;
}
