/* Main styles file */
@charset "utf-8";

@import "./colors.scss";

@import "./bulma/utilities/_all.sass";
@import "./bulma/base/_all.sass";
@import "./bulma/elements/button.sass";
@import "./bulma/grid/tiles.sass";
@import "./bulma/helpers/typography.sass";
//@import "./bulma/grid/columns.sass";
//@import "./bulma/elements/box.sass";
@import "./bulma/elements/container.sass";
//@import "./bulma/elements/title.sass";
//@import "./bulma/form/_all.sass";
//@import "./bulma/components/navbar.sass";
@import "./bulma/layout/hero.sass";
@import "./bulma/layout/section.sass";
//@import "./bulma/layout/footer.sass";
//@import "./bulma/helpers/flexbox.sass";
//@import "./bulma/helpers/position.sass";

//@import "./fonts.scss";
/*
.has-text-centered {
    text-align: center;
}*/

/* main button style */
.main-control {
    margin-top: 100px;    
}

/* for debugging reasons */

.has-borders {
    border-style: solid;
    border-width: 4px;
    border-color: $red;
}
